:host {

}

.controls {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

a:link, a:visited, a:active, a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.paper-grid {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background: #fefefe;
    margin: 10px;
    padding: 5px;
}

.call {
    width: 50%;
}

material-chip {
    width: 70px;
    display: inline-flex;
    text-align: center;
    color: white;
    vertical-align: super;
}

.url {
    font-size: 20px;
}

.GET {
    background-color: #56b6d2;
}

.POST {
    background-color: #55aa55;
}

.PUT {
    background-color: #eaa94c;
}

.DELETE {
    background-color: #d9534f;

}

.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
    float: none;
}
.sidebar {
    left: 0;
    z-index: 100;
    position: fixed;
    top: 0px;
    overflow:hidden;
    width: 150px;
    height:100%;
    background: #333333;
    border-right: 4px solid #ffce43;
    font-size: 16px;
}
/*.sidebar:hover{*/
    /*width: 200px;*/
    /*transition: width 0.5s;*/
/*}*/
.sidebar a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.sidebar > ul {
    width: 200px;
}
.sidebar > ul > li > a:hover {
    color: #ffffff;
}
.sidebar > ul > li.active a {  background: #1b9bff;}
.sidebar > ul > li a:hover,
.sidebar > ul > li:hover a {  background: #1b9bff;}
.sidebar-head{
    padding-top: 0px;
    margin-bottom: 30px;
    border-bottom: 4px solid #32CD32;
    font-size: 18px;
    font-weight: bold;
}